.form-control{
    width: 500px;
    border-radius: 0px;
    display: inline-block;
    height: 65px;
    margin-left: 390px;
    font-size: 25px;
    vertical-align: middle;

}

.form-control1{
    width: 500px;
    border-radius: 0px;
    height: 65px;
    margin-left:251px;
    font-size: 25px;
 
}
   
